* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.info-prodotto-vendi{
    margin-top: 5rem;
}

.banner-info-yellow{
    background-color: #eefe04;
    padding: 15px;
    line-height: 15px;
}

.banner-info-yellow a{
    color: black;
    font-weight: bold;
}

.banner-info-yellow p{
    color: black;
}

.upload-file{
    width: 400px;
}

.form-info-prodotto h4{
    color: black;
    font-weight: bold;
}

label{
    color: black;
    font-weight: bold;
}

.headline{
    text-align: center;
    color: black;
    margin-top: 5rem;
}

.headline h2{
    font-weight: bold;
}

input, textarea{
    border: 1px solid whitesmoke!important;
}

.contenuto-grigio{
    background-color: #F9F9F9;
    height: 1100px;

}

.component{
    background-color: white;
}



.contenuto{
    width: 1600px;
    margin: 0px auto;
    padding-top: 100px;
}

.titolo-configuratore-prodotto{
    text-align: center;
    margin-bottom: 3rem;
}

.titolo-configuratore-prodotto > h3{
    opacity: 0.6;
    font-size: 22px;
}

.left-sidebar {
    width: 260px;
    height: 940px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: #33cc33;
    position: relative;
    z-index: 1;
}

/* sezione apribie al click */

.sezione-apribile-shirt {
    max-height: 940px;
    width: 300px;
    position: absolute;
    left: 317px;
    z-index: 1;
    overflow-y: scroll;
}

#contenitore-apribile {
    display: none;
}

#contenitore-apribile.open {
    display: block;
    max-height: 940px;
    width: 300px;
    position: absolute;
    left: 418px;
    z-index: 1;
    overflow-y: scroll;
}

#contenitore-apribile.open::-webkit-scrollbar {
    display: none;
}

#freccia-felperia.open {
    cursor: pointer;
    transform: rotate(0deg);
    transition: 0.25s linear;

}

#freccia-felperia.closed {
    cursor: pointer;
    transform: rotate(180deg);
    transition: 0.25s linear;

}


.contenitore-uomo-donna-kids {
    width: 100px;
    padding: 5%;
    background-color: #707070;
}

.contenitore-uomo-donna-kids-default:hover{
    cursor: pointer;
}

.contenitore-uomo-donna-kids-default {
    width: 100px;
    padding: 5%;
    background-color: #D81E5B;
}

#categorie-magliette-uomo.disattiva{
    width: 100px;
    padding: 5%;
    background-color: #707070;
}

#categorie-magliette-uomo.attiva{
    background-color: #D81E5B;
    width: 100px;
    padding: 5%;
}

#categorie-magliette-donna.attiva{
    background-color: #D81E5B;
    width: 100px;
    padding: 5%;
}

#categorie-magliette-kids.attiva{
    background-color: #D81E5B;
    width: 100px;
    padding: 5%;
}

.contenitore-uomo-donna-kids:hover {
    background-color: #D81E5B;
    cursor: pointer;
}


.paragrafo-uomo-donna-kids {
    text-align: center;
    font-weight: bold;
    color: white; 
}

.paragrafo-uomo-donna-kids:hover{
    cursor: pointer;
}

.img-modello {
    width: 100%;
    object-fit: contain;
    cursor: pointer;
}

.contenitore-img-modello {
    max-height: 315px;
}

/* SCROLL CARD DONNA */

.scroll-card{
    display: block;
    
}

#scroll-card.none{
    display: none;
}

.scroll-card-donna{
    position: relative;
    top: 0;
    display: none;
}

#scroll-card-donna.visibile{
    position: relative;
    top: 0px;
    display: block;
}

.scroll-card-kids{
    position: relative;
    top: 0;
    display: none;
}

#scroll-card-kids.visibile{
    position: relative;
    top: 0;
    display: block;
}


.contenitore-nome-prezzo {
    display: flex;
    justify-content: space-between;
    background-color: white;
    height: 35px;
}

.nome-prodotto {
    font-size: 15px;
    padding-top: 5px;
    padding-left: 15px;
}

.prezzo-prodotto {
    font-size: 15px;
    text-align: center;
    padding-top: 5px;
    padding-right: 15px;
}

.contenitore-taglie {
    height: 30px;
    background-color: black;
    display: flex;
    justify-content: space-between;
}


.link-taglie {
    color: white;
    padding: 8px;
    height: 100%;
    font-size: 10px;
    text-decoration: underline;
}

.link-taglie:hover {
    color: white;
}

/********* */

/* informativa maglie apribile al click */

.informazioni-maglie {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 20rem;
    z-index: 3;
    display: none;
}



#info-maglie.open {
    display: block;
    width: 1269px;
    height: calc(100vh - 77px);
    position: absolute;
    left: 317px;
    z-index: 3;
}


#stampa.disattivato {
    display: none;
}

#stampa.attivato {
    display: block;
    padding: 4%;
    font-size: 12px;
    display: flex;
    width: 1300px;
    margin-left: -100px;
}

#div-img-prodotto.disattivato {
    display: none;
}

#div-img-prodotto.attivato {
    display: block;
}

#articoli.disattivato {
    display: none;
}

#articoli.attivato {
    display: block;
    display: flex;
    height: 80px;
    position: relative;
    z-index: -1;
}

#div-black.mod {
    width: 1335px;
    height: 80px;
    background-color: black;
    transform: translate(-112px, 204px);
    margin-top: 655px;
    border-radius: 0px 0px 20px;
}

#div-black.black {
    width: 1335px;
    height: 80px;
    background-color: black;
    transform: translate(-112px, 204px);
    border-radius: 0px 0px 20px;
}

.varianti-colore{
    display: flex;
    justify-content: space-between;
    width: 1040px;
    padding-left: 10px;
    padding-right: 25px;
    position: absolute;
    bottom: 150px;
}

#testo-colori.disattivato{
    display: none;
}

#testo-colori.attivato{
    display: flex;
    justify-content: space-between;
    width: 1040px;
    padding-left: 10px;
    padding-right: 25px;
    position: absolute;
    bottom: 150px;
}

.paragrafo-sottolineato{
    text-decoration: underline;
    opacity: 0.6;
}

.paragrafo-sottolineato:hover{
    cursor: pointer;
}

.grassetto{
    font-weight: bold;
}

#contenitore-apribile.disattivato {
    display: none;
}



.container-info {
    background-color: white;
    width: 900px;
    height: 600px;
    margin-top: 8rem;
    border-radius: 5px;
    -webkit-box-shadow: 5px 5px 12px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 5px 5px 12px 5px rgba(0, 0, 0, 0.3);
    position: relative;
    left: 100px;
}

.testo {
    width: 100%;
}

.paragrafo-info {
    width: 300px;
    padding: 10%;
    height: 150px;
}

.img-info {
    width: 465px;
    height: 600px;
}

.immagine-info {
    height: 100%;
}

.close-icon {
    width: 50px;
    position: absolute;
    top: -15px;
    right: -20px;
    cursor: pointer;

}

/* **************** */

.right-sidebar {
    background-color: #CCC;
    border: #707070;
    width: 200px;
    height: 940px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    position: relative;
    z-index: 1;
}

.scelta-prodotti {
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
}

.contenitore-prodotti {
    padding: 15%;
    position: relative;
}

.paragrafo-prodotti {
    color: white;
    margin-bottom: 50px;
    margin-top: 50px;
    margin-right: 25px;
    font-size: 16px;
}

.paragrafo-prodotti2 {
    color: white;
    margin-bottom: 50px;
    margin-top: 50px;
    margin-right: 40px;
    font-size: 16px;
}

/* sezione upload file */

.contenitore-file {
    background-color: white;
    width: 200px;
    height: 200px;
    border-radius: 5px;
    border: 2px solid lightgrey;
    margin-top: 1rem;
    -webkit-box-shadow: 0px 0px 8px 6px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 8px 6px rgba(0, 0, 0, 0.25);
    display: none;
}

#upload-files.open {
    background-color: white;
    width: 200px;
    height: 320px;
    border-radius: 5px;
    border: 2px solid lightgrey;
    margin-top: 1rem;
    -webkit-box-shadow: 0px 0px 8px 6px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 8px 6px rgba(0, 0, 0, 0.25);
    display: block;
}

.paragrafi-formato {
    margin-top: 1rem;
    line-height: 6px;
}

.carica-file {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

.formato {
    font-size: 12px;
    opacity: 0.7;
    text-align: center;
}

.trascina-file {
    width: 180px;
    border-style: dashed;
    height: 100px;
    margin-left: 8px;
    margin-top: 26px;
    border-radius: 4px;
    border: 1px dashed #2f67c5;
}

.input-file {
    width: 175px;
    height: 105px;
    opacity: 0;
}

.check {
    position: relative;
    bottom: 90px;
    right: -40px;
}

.upload {
    position: relative;
    bottom: 105px;
    font-size: 10px;
    right: 5px;
    text-align: center;
    opacity: 0.7;
}



.freccia-carica{
    opacity: 0.7;
    cursor: pointer;
}

#freccia-carica.open {
    transform: rotate(90deg);
    transition: 0.25s linear;
    opacity: 1;
}

#freccia-carica.closed {
    transform: rotate(0deg);
    transition: 0.25s linear;

}

/* ******************** */


/* sezione inserimento testo*/

.contenitore-scroll{
    max-height: 940px;
    height: 940px;
    width: 350px;
    position: absolute;
    left: 317px;
    z-index: 1;
    overflow-y: scroll;
    background-color: white;
    display: none;
}

#contenitore-scroll.open{
    max-height: 940px;
    height: 940px;
    width: 350px;
    position: absolute;
    left: 317px;
    z-index: 1;
    overflow-y: scroll;
    background-color: white;
    display: block;
}

.contenitore-scroll::-webkit-scrollbar {
    display: none; 
}

#contenitore-scroll.open::-webkit-scrollbar {
    display: none; 
}

#freccia-testo.open {
    transform: rotate(90deg);
    transition: 0.25s linear;
    opacity: 1;
}

#freccia-testo.closed {
    transform: rotate(0deg);
    transition: 0.25s linear;

}

.freccia-testo{
    cursor: pointer;
    opacity: 0.7;
}


.contenitore-testo{
    background-color: white;
    width: 250px;
    height: 200px;
    border-radius: 5px;
    border: 2px solid lightgrey;
    margin-top: 2rem;
    margin-left: 3rem;
    -webkit-box-shadow: 0px 0px 8px 6px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 8px 6px rgba(0, 0, 0, 0.25);
}

.contenitore-inserisci-testo{
    width: 230px;
    border-style: dashed;
    height: 110px;
    margin-left: 8px;
    margin-top: 26px;
    border-radius: 4px;
    background-color: #f0f0f0;
    border: 2px dashed #D81E5B;
}

.inserisci{
    font-weight: 900;
    font-size: 20px;
    text-align: center;
    margin-top: 1rem;
}

.allineamenti{
    background-color: white;
    width: 250px;
    height: 350px;
    border-radius: 5px;
    border: 2px solid lightgrey;
    margin-top: 2rem;
    margin-left: 3rem;
    -webkit-box-shadow: 0px 0px 8px 6px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 8px 6px rgba(0, 0, 0, 0.25);
}

.contenitore-fonts{
    background-color: white;
    width: 250px;
    height: 360px;
    border-radius: 5px;
    border: 2px solid lightgrey;
    margin-top: 2rem;
    margin-left: 3rem;
    -webkit-box-shadow: 0px 0px 8px 6px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 8px 6px rgba(0, 0, 0, 0.25); 
}

.colori{
    background-color: white;
    width: 250px;
    height: 280px;
    border-radius: 5px;
    border: 2px solid lightgrey;
    margin-top: 2rem;
    margin-left: 3rem;
    -webkit-box-shadow: 0px 0px 8px 6px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 8px 6px rgba(0, 0, 0, 0.25); 
}

.titolo-allineamento{
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    margin-top: 1rem;
}

.icone-allineamento{
    display: flex;
    justify-content: space-evenly;
    margin: 30px;
}

.align{
    font-size: 12px;
    fill: #CCC;
}

.align:hover{
    cursor: pointer;
}

.fill-icon{
    font-size: 12px;
    fill: #D81E5B!important;
}

.titolo-interlinea{
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    
}

/* modifiche per input range */

@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
      overflow: hidden;
      width: 200px;
      -webkit-appearance: none;
      background-color: #aaaaaa;
      margin-left: 22px;
    }
    
    input[type='range']::-webkit-slider-runnable-track {
      height: 5px;
      border-radius: 20%;
      -webkit-appearance: none;
      color: #13bba4;
      margin-top: -1px;
    }
    
    input[type='range']::-webkit-slider-thumb {
      width: 15px;
      
      -webkit-appearance: none;
      height: 15px;
      cursor: pointer;
      background: #D81E5B;
      box-shadow: -80px 0 0 75px #aaaaaa;
    }

}

.contenitore-plus{
    width: 15px;
    height: 15px;
    background-color: black;
    border-radius: 50%;
    position: relative;
    bottom: 15px;
    left: 210px;
}

.plus{
    color: white;
    font-size: 20px;
    position: absolute;
    top: -10px;
    left: 1px;
}

.plus:hover{
    cursor: pointer;
}

.contenitore-minus{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: black;
    position: relative;
    top: 24px;
    left: 20px;
}

.minus{
    color: white;
    font-size: 20px;
    position: absolute;
    top: -10px;
    left: 3px;
}

.minus:hover{
    cursor: pointer;
}

.form-range2{
    margin-right: 10px;
}

.contenitore-interlinea2{
    margin-top: 1rem;
}

.titolo-interlinea2{
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    
}



.interlinea2{
    width: 210px;
    height: 2px;
    background-color: #D81E5B;
    position: relative;
    top: 8px;
    z-index: -1;
}

.annulla-regolazioni{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.bottone-annulla{
    border-radius: 5px;
    border: 1px solid #D81E5B;
    width: 210px;
    height: 30px;
    font-size: 14px;
    color: white;
    background-color: #D81E5B;
}

.fonts{
    position: absolute;
    transform: translate(20px, 5px);
}

.titolo-sezione-font{
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    margin-top: 1rem;
}

.tipi-font{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
    width: 200px;
    border-radius: 20px;
    margin-bottom: 5px;
    position: relative;
}

.nome-font{

    font-size: 20px;
    margin-top: 5px;
}

.font-family-poppins{
    font-family: 'Poppins', sans-serif;
}

.font-family-bebas{
    font-family: 'Bebas';
}

.font-family-brush{
    font-family: 'Brush-Script';
}

.font-family-brice{
    font-family: 'Brice';
}

.font-family-chalkboard{
    font-family: 'chalkboard';
}

.font-family-college{
    font-family: 'college';
}

.font-family-eurostile{
    font-family: 'Eurostile';
}

.tipi-font > svg{
    position: absolute;
    right: 5%;
}

.palet-colore1{
    height: 42px;
    width: 42px;
    border-radius: 50%;
    border-style: dashed;
    font-size: 8px;
    margin-left: 20px;
    color: lightblue;
}

.palet-colore2{
    height: 42px;
    width: 42px;
    border-radius: 50%;
    background-color: red;
    margin-left: 10px;
}

.palet-colore3{
    height: 42px;
    width: 42px;
    border-radius: 50%;
    background-color: blue;
    margin-left: 10px;
}

.palet-colore4{
    height: 42px;
    width: 42px;
    border-radius: 50%;
    background-color: violet;
    margin-left: 10px;
}

.seleziona-colore{
    margin-top: 12px;
    margin-left: 4px;
    color: lightblue;
    padding: 2%;
    font-size: 6px;
}

.colore-specifico{
    display: flex;
    background-color: lightgrey;
    width: 210px;
    border-radius: 20px;
    position: relative;
    top: 55%;
    left: 8%;
    justify-content: center;
}

/* ************************ */



/* SEZIONE STICKERS */

.contenitore-stickers{
    max-height: 940px;
    height: 940px;
    width: 350px;
    position: absolute;
    left: 317px;
    z-index: 1;
    overflow-y: scroll;
    background-color: white;
    display: none;
}

#contenitore-stickers.open{
    max-height: 940px;
    height: 940px;
    width: 350px;
    position: absolute;
    left: 317px;
    z-index: 1;
    overflow-y: scroll;
    background-color: white;
    display: block;
}

.contenitore-stickers-earth{
    background-color: white;
    width: 250px;
    height: 360px;
    border-radius: 5px;
    border: 2px solid lightgrey;
    margin-top: 2rem;
    margin-left: 3rem;
    -webkit-box-shadow: 0px 0px 8px 6px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 8px 6px rgba(0, 0, 0, 0.25);
}

.contenitore-stickers-friends{
    background-color: white;
    width: 250px;
    height: 260px;
    border-radius: 5px;
    border: 2px solid lightgrey;
    margin-top: 2rem;
    margin-left: 3rem;
    -webkit-box-shadow: 0px 0px 8px 6px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 8px 6px rgba(0, 0, 0, 0.25);
}

.contenitore-stickers-christmas{
    background-color: white;
    width: 250px;
    height: 260px;
    border-radius: 5px;
    border: 2px solid lightgrey;
    margin-top: 2rem;
    margin-left: 3rem;
    -webkit-box-shadow: 0px 0px 8px 6px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 8px 6px rgba(0, 0, 0, 0.25);
}

.titolo-stickers{
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

.contenitore-titolo-stickers{
    margin-top: 1rem;
    line-height: 6px;
}

.paragrafo-stickers{
    font-size: 12px;
    opacity: 0.7;
    text-align: center;
}

.stickers{
    display: flex;
    justify-content: center;
}

.stickers > img{
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.contenitore-stickers::-webkit-scrollbar {
    display: none; 
}

#contenitore-stickers.open::-webkit-scrollbar {
    display: none; 
}

.scorri{
    background-color: white;
    text-align: center;
    position: fixed;
    bottom: 0px;
    width: 350px;
    height: 12vh;
}

.scorri > svg{
    margin-right: 5px;
}

.scorri > h3{
    margin-right: 5px;
    margin-top: 10px;
}

#freccia-stickers.open {
    transform: rotate(90deg);
    transition: 0.25s linear;
    opacity: 1;
}

#freccia-stickers.closed {
    transform: rotate(0deg);
    transition: 0.25s linear;

}

.freccia-stickers{
    cursor: pointer;
    opacity: 0.7;
}


























/* ***************** */

.paragrafo-prodotti-stickers {
    color: white;
    margin-bottom: 50px;
    margin-top: 50px;
    margin-right: 50px;
    font-size: 20px;
    margin-left: 15px;
}

.linea {
    height: 2px;
    width: 200px;
    background-color: white;
    margin-bottom: 10px;
}

.p-articoli {
    color: black;
    margin-left: 30px;
}

.contenitore-articoli{
    display: none;
}

#contenitore-articoli {
    line-height: 0;
    display: none;
}

#contenitore-articoli.open {
    display: block;
    margin-top: 1rem;
}

.freccia-prodotti {
    cursor: pointer;
    transform: rotate(270deg);
    opacity: 0.7;
}


#freccia-prodotti.open {
    cursor: pointer;
    transform: rotate(360deg);
    transition: 0.25s linear;
    opacity: 1;
}

#freccia-prodotti.closed {
    cursor: pointer;
    transform: rotate(270deg);
    transition: 0.25s linear;
    opacity: 0.7;
}


.background-color1 {
    background-color: white;
    opacity: 0.3;
    margin-bottom: -10px;
    width: 200px;
    height: 25px;
}

.dark-arrow {
    margin-left: 10px;
    fill: white;
    opacity: 0;
    width: 100px;
}

.dark-arrow:hover {
    fill: black;
    opacity: 1;
}

.dark-arrow-modificata {
    fill: white;
    opacity: 0;
    width: 45px;
}


.dark-arrow-modificata:hover {
    fill: black;
    opacity: 1;
}

.dark-arrow-modificata2 {
    fill: white;
    opacity: 0;
    width: 90px;
}

.dark-arrow-modificata2:hover {
    fill: black;
    opacity: 1;
}

.contenitore-paragrafo-prodotti {
    position: relative;
    bottom: 16px;
    text-align: left;
    width: 200px;
    height: 25px;

}

.contenitore-paragrafo-prodotti:hover {
    cursor: pointer;
    background-color: white;
}

.paragrafo-prodotto {
    color: white;
    margin-left: 30px;
    width: 170px;
    height: 25px;
    line-height: 22px;
}

.paragrafo-prodotto:hover {
    color: black;
    cursor: pointer;

}

.contenitore-utente {
    display: flex;
    position: absolute;
    top: 50rem;
}

.img-utente {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: white;
}

.paragrafo-utente {
    margin-left: 10px;
    margin-top: 10px;
    color: white;
}

.posizioni-stampa {
    padding: 4%;
    font-size: 12px;
    display: flex;
    width: 1300px;
    margin-left: -100px;
}

.p-stampa {
    width: 250px;
    font-weight: bold;
    margin-top: 5px;
}

.fronte-retro {
    margin-right: 10px;
    background-color: #f0f0f0;
    width: 270px;
    height: 30px;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
}

.p-impostazioni {
    font-size: 13px;
    margin-left: 15px;
    margin-top: 5px;
}

.cerchio-bianco {
    width: 20px;
    height: 20px;
    background-color: white;
    margin-right: 15px;
    margin-top: 5px;
    border-radius: 50%;
}

.cerchio-colorato {
    width: 10px;
    height: 10px;
    background-color: #33cc33;
    border-radius: 50%;
    margin-left: 5px;
    margin-top: 5px;
}

.cerchio-grigio {
    width: 10px;
    height: 10px;
    background-color: lightgray;
    border-radius: 50%;
    margin-left: 5px;
    margin-top: 5px;
}

.p-icone {
    width: 22%;
    margin-top: 5px;
    font-weight: bold;


}

.svg-icone {
    width: 18px;
}

.img-t-shirt {
    transform: translate(45%, 0);
}

.informazioni-prodotto {
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}

.tabella-colori {
    background-color: white;
    width: 250px;
    height: 200px;
    transform: translate(22px, 22px);
    border-radius: 3%;
    border: #f0f0f0;
    -webkit-box-shadow: 3px 2px 10px 0px #000000;
    box-shadow: 3px 2px 10px 0px #000000;
}

.colore-prodotto {
    font-weight: bold;
    font-size: 14px;
    text-align: center;
}

.palet-colori {
    display: flex;
    flex-wrap: wrap;
}

.colore1 {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border-style: dashed;
    font-size: 8px;
    margin-left: 20px;
    color: lightblue;
}

.colore2 {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: red;
    margin-left: 10px;

}

.colore3 {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: blue;
    margin-left: 10px;
}

.colore4 {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: violet;
    margin-left: 10px;
}

.colore5 {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: green;
    margin-left: 10px;
}

.seleziona {
    margin-top: 10px;
    margin-left: 2px;
    color: lightblue;
    padding: 2%;
    font-size: 6px;
}

.taglia {
    background-color: white;
    width: 250px;
    height: 250px;
    transform: translate(22px, 22px);
    border-radius: 3%;
    border: #f0f0f0;
    margin-top: 2rem;
    -webkit-box-shadow: 3px 2px 10px 0px #000000;
    box-shadow: 3px 2px 10px 0px #000000;
}

.paragrafo-taglie {
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}



.seleziona-taglie {
    width: 215px;
    height: 32px;
    background-color: lightgray;
    border-radius: 20px;
    transform: translate(15px, 0px);
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.etichetta {
    background-color: #D81E5B;
    color: white;
    font-weight: 600;
    border-radius: 20px;
    width: 40px;
    height: 24px;
    text-align: center;
    position: relative;
    top: 4px;
    left: 5px;
}

.paragrafo-taglia {
    font-size: 15px;
}

.indicatori {
    display: flex;
    margin-right: 10px;
    margin-top: 2px;
}

.contenitore-minus-taglia {
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    font-size: 40px;
    position: relative;
    top: 3px;
}

.minus-taglia {
    position: relative;
    bottom: 25px;
    left: 2px;
}

.contenitore-plus-taglia {
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    font-size: 25px;
    position: relative;
    top: 3px;
}

.plus-taglia {
    position: relative;
    bottom: 12px;
    left: 1px;
}

.numeri {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 2px;
    font-size: 15px;
}

.contenitore-totale {
    background-color: white;
    width: 250px;
    height: 180px;
    transform: translate(22px, 22px);
    border-radius: 3%;
    border: #f0f0f0;
    margin-top: 2rem;
    -webkit-box-shadow: 3px 2px 10px 0px #000000;
    box-shadow: 3px 2px 10px 0px #000000;
    padding: 1px;
}

.totale {
    display: flex;
    justify-content: space-between;

}

.paragrafo-totale {
    font-weight: 700;
    font-size: 18px;
}

.prezzo {
    font-weight: 700;
    color: #D81E5B;
}

.spedizione {
    line-height: 15px;
    margin-top: -18px;
    line-height: 15px;
    margin-top: -18px;
    font-size: 12px;
    opacity: 0.5;
}

.checkout {
    background-color: #D81E5B;
    height: 99px;
    padding: 10%;
    border-radius: 0px 0px 6px 6px;
    width: 100%;
}

.paragrafo-checkout {
    color: white;
    padding: 5%;
    font-weight: bold;
    font-size: 18px;
    text-align: center;

}

.t-shirt-evidenza {
    width: 500px;
    transform: translate(50px, 0px);
}

.black {
    width: 1270px;
    height: 80px;
    background-color: black;
    transform: translate(-80px, 205px);
}

.articoli-selezionabili {
    display: flex;
    height: 80px;
    position: relative;
    z-index: -1;
}

.riquadro {
    background-color: white;
    border-radius: 15px;
    width: 1050px;
    height: 120px;
    position: relative;
    bottom: 40px;
    box-shadow: 3px 2px 10px 0px #000000;
    transform: translate(105px, -40px);
    margin-right: 1rem;
    display: flex;
}

.pallini-colorati {
    width: 40px;
    height: 100%;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.pallini-colorati2{
    width: 40px;
    height: 100%;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.pallino{
    width: 25px;
    height: 25px;
    background-color: black;
    border-radius: 50%;
}

.pallino2{
    width: 25px;
    height: 25px;
    background-color: rgb(189, 25, 25);
    border-radius: 50%;
}

.img-attiva {
    height: 100%;
}


.contenitore-freccia {
    height: 40%;
    text-align: center;
}

.paragrafo-disattivato {
    color: white;
}

.freccia-verde {
    width: 34px;
    height: 15px;
}

.modifica {
    line-height: 0;
    position: absolute;
    top: -40px;
    left: 15px;
}


.paragrafo-modifica {
    font-weight: 600;
}

.img-matita {
    transform: translate(25px, 0px);
    width: 15px;
}

.paragrafo-attivato {
    color: white;
    position: absolute;
    bottom: -45px;
    left: 13px;
    font-weight: 400;
}

.paragrafo-disattivato {
    color: white;
    position: absolute;
    bottom: -45px;
    left: 13px;
    font-weight: 400;
}

.freccia-grigia {
    width: 30px;
    height: 15px;
    color: white;

}

.img-disattivata {
    height: 90%;
    opacity: 0.7;
}

.img-disattivata-borsa {
    width: 90%;
    transform: translate(20px, 11px);
    opacity: 0.7;
}

.contenitore-immagini {
    width: 100%;
    height: 60%;
    overflow: hidden;
    text-align: center;
}

.svg-container {
    width: 30px;
    height: 30px;
    background-color: lightgrey;
    border-radius: 50%;
    margin: 0px auto;
    margin-bottom: 15px;
}

.svg-container-attiva {
    width: 30px;
    height: 30px;
    background-color: #33cc33;
    border-radius: 50%;
    margin: 0px auto;
}

/* sezione prodotti attivabili automaticamente */

.titolo-prodotti{
    display: flex;
    justify-content: space-between;
    width: 1120px;
    padding-left: 10px;
    padding-right: 25px;
    margin-top: 5rem;
}

.titolo-grassetto{
    font-weight: bold;
    font-size: 20px;
}

.card-img-top{
    padding: 50px;
    max-height: 185px;
    margin: 0px auto;
    object-fit: contain;
}

.seconda-row{
    margin-top: 2rem;
}

.card-text{
    font-weight: 500;
    font-size: 20px;
    line-height: 0px;
}

.sottotitolo{
    font-size: 13px;
    opacity: 0.6;

}

.card-body{
    text-align: center
}

/* bottone */
body {
    font-family: 'Montserrat', 'Lato', 'Open Sans', 'Helvetica Neue', Helvetica, Calibri, Arial, sans-serif;
    color: #6b7381;
    background: #f2f2f2;
}
.jumbotron {
    background: #6b7381;
    color: #bdc1c8;
}
.jumbotron h1 {
    color: #fff;
}
.example {
    margin: 4rem auto;
}
.example > .row {
    margin-top: 2rem;
    height: 5rem;
    vertical-align: middle;
    text-align: center;
    border: 1px solid rgba(189,193,200,0.5);
}
.example > .row:first-of-type {
    border: none;
    height: auto;
    text-align: left;
}
.example h3 {
    font-weight: 400;
}
.example h3 > small {
    font-weight: 200;
    font-size: .75em;
    color: #939aa5;
}
.example h6 {
    font-weight: 700;
    font-size: .65rem;
    letter-spacing: 3.32px;
    text-transform: uppercase;
    color: #bdc1c8;
    margin: 0;
    line-height: 5rem;
}
.example .btn-toggle {
    top: 50%;
    transform: translateY(-50%);
}
.btn-toggle {
    margin: 0 4rem;
    padding: 0;
    position: relative;
    border: none;
    height: 1.5rem;
    width: 3rem;
    border-radius: 1.5rem;
    color: #6b7381;
    background: black;
}
.btn-toggle:focus, .btn-toggle:focus.active, .btn-toggle.focus, .btn-toggle.focus.active {
    outline: none;
}
.btn-toggle:before, .btn-toggle:after {
    line-height: 1.5rem;
    width: 4rem;
    text-align: center;
    font-weight: 600;
    font-size: .75rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: absolute;
    bottom: 0;
    transition: opacity .25s;
}
.btn-toggle:before {
    content: 'Off';
    left: -4rem;
}
.btn-toggle:after {
    content: 'On';
    right: -4rem;
    opacity: .5;
}
.btn-toggle > .handle {
    position: absolute;
    top: 0.1875rem;
    left: 0.1875rem;
    width: 1.125rem;
    height: 1.125rem;
    border-radius: 1.125rem;
    background: #fff;
    transition: left .25s;
}
.btn-toggle.active {
    transition: background-color .25s;
}
.btn-toggle.active > .handle {
    left: 1.6875rem;
    transition: left .25s;
}
.btn-toggle.active:before {
    opacity: .5;
}
.btn-toggle.active:after {
    opacity: 1;
}
.btn-toggle.btn-sm:before, .btn-toggle.btn-sm:after {
    line-height: -0.5rem;
    color: #fff;
    letter-spacing: .75px;
    left: 0.4125rem;
    width: 2.325rem;
}
.btn-toggle.btn-sm:before {
    text-align: right;
}
.btn-toggle.btn-sm:after {
    text-align: left;
    opacity: 0;
}
.btn-toggle.btn-sm.active:before {
    opacity: 0;
}
.btn-toggle.btn-sm.active:after {
    opacity: 1;
}
.btn-toggle.btn-xs:before, .btn-toggle.btn-xs:after {
    display: none;
}
.btn-toggle:before, .btn-toggle:after {
    color: #6b7381;
}
.btn-toggle.active {
    background-color: #33cc33;
}

.btn-toggle.btn-lg.btn-sm:before, .btn-toggle.btn-lg.btn-sm:after {
    line-height: 0.5rem;
    color: #fff;
    letter-spacing: .75px;
    left: 0.6875rem;
    width: 3.875rem;
}
.btn-toggle.btn-lg.btn-sm:before {
    text-align: right;
}
.btn-toggle.btn-lg.btn-sm:after {
    text-align: left;
    opacity: 0;
}
.btn-toggle.btn-lg.btn-sm.active:before {
    opacity: 0;
}
.btn-toggle.btn-lg.btn-sm.active:after {
    opacity: 1;
}

.btn-toggle.btn-sm {
    margin: 0 .5rem;
    padding: 0;
    position: relative;
    border: none;
    height: 1.5rem;
    width: 110px;
    border-radius: 1.5rem;
}
.btn-toggle.btn-sm:focus, .btn-toggle.btn-sm:focus.active, .btn-toggle.btn-sm.focus, .btn-toggle.btn-sm.focus.active {
    outline: none;
}
.btn-toggle.btn-sm:before, .btn-toggle.btn-sm:after {
    line-height: 1.5rem;
    width: .5rem;
    text-align: center;
    font-weight: 600;
    font-size: .55rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: absolute;
    bottom: 0;
    transition: opacity .25s;
}
.btn-toggle.btn-sm:before {
    content: 'Disabilita';
    left: -0.5rem;
}
.btn-toggle.btn-sm:after {
    content: 'Abilita';
    right: -0.5rem;
    opacity: .5;
}
.btn-toggle.btn-sm > .handle {
    position: absolute;
    top: 0.1875rem;
    left: 0.1875rem;
    width: 1.125rem;
    height: 1.125rem;
    border-radius: 1.125rem;
    background: #fff;
    transition: left .25s;
}
.btn-toggle.btn-sm.active {
    transition: background-color .25s;
}
.btn-toggle.btn-sm.active > .handle {
    left: 88px;
    transition: left .25s;
}
.btn-toggle.btn-sm.active:before {
    opacity: .5;
}
.btn-toggle.btn-sm.active:after {
    opacity: 1;
}
.btn-toggle.btn-sm.btn-sm:before, .btn-toggle.btn-sm.btn-sm:after {
    line-height: -0.5rem;
    color: #fff;
    letter-spacing: .75px;
    left: 1.4125rem;
    width: 4.325rem;
}
.btn-toggle.btn-sm.btn-sm:before {
    text-align: right;
}
.btn-toggle.btn-sm.btn-sm:after {
    text-align: left;
    opacity: 0;
}
.btn-toggle.btn-sm.btn-sm.active:before {
    opacity: 0;
}
.btn-toggle.btn-sm.btn-sm.active:after {
    opacity: 1;
}
.btn-toggle.btn-sm.btn-xs:before, .btn-toggle.btn-sm.btn-xs:after {
    display: none;
}

.btn-toggle.btn-secondary {
    color: #6b7381;
    background: #bdc1c8;
}
.btn-toggle.btn-secondary:before, .btn-toggle.btn-secondary:after {
    color: #6b7381;
}
.btn-toggle.btn-secondary.active {
    background-color: #ff8300;
}

/* primo select */

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
    width: 105px!important;
    margin-top: 20px;
}

/* prova secondo select */

.multiselect {
    width: 150px;
  }
  
  .selectBox {
    position: relative;
  }
  
  .selectBox select {
    width: 100%;
    border: 1px solid whitesmoke;
    font-size: 14px;
    margin-top: 1rem;
  }
  
  .overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  
  #checkboxes {
    display: none;
    border: 1px #dadada solid;
  }

  #checkboxes2 {
    display: none;
    border: 1px #dadada solid;
  }

  #checkboxes3 {
    display: none;
    border: 1px #dadada solid;
  }

  #checkboxes4 {
    display: none;
    border: 1px #dadada solid;
  }

  #checkboxes5 {
    display: none;
    border: 1px #dadada solid;
  }

  #checkboxes6 {
    display: none;
    border: 1px #dadada solid;
  }

  #checkboxes7 {
    display: none;
    border: 1px #dadada solid;
  }

  #checkboxes8 {
    display: none;
    border: 1px #dadada solid;
  }

  #checkboxes9 {
    display: none;
    border: 1px #dadada solid;
  }

  #checkboxes10 {
    display: none;
    border: 1px #dadada solid;
  }
  
  #checkboxes label {
    display: block;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  #checkboxes2 label {
    display: block;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  #checkboxes3 label {
    display: block;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  #checkboxes4 label {
    display: block;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  #checkboxes5 label {
    display: block;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  #checkboxes6 label {
    display: block;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  #checkboxes7 label {
    display: block;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  #checkboxes8 label {
    display: block;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  #checkboxes9 label {
    display: block;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  #checkboxes10 label {
    display: block;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  #checkboxes label:hover {
    background-color: #e2dfdf;
  }

  #checkboxes2 label:hover {
    background-color: #e2dfdf;
  }

  #checkboxes3 label:hover {
    background-color: #e2dfdf;
  }

  #checkboxes4 label:hover {
    background-color: #e2dfdf;
  }

  #checkboxes5 label:hover {
    background-color: #e2dfdf;
  }

  #checkboxes6 label:hover {
    background-color: #e2dfdf;
  }

  #checkboxes7 label:hover {
    background-color: #e2dfdf;
  }

  #checkboxes8 label:hover {
    background-color: #e2dfdf;
  }

  #checkboxes9 label:hover {
    background-color: #e2dfdf;
  }

  #checkboxes10 label:hover {
    background-color: #e2dfdf;
  }



.color{
    width: 15px;
    height: 15px;
    background-color: black;
    margin-left: 10px;
}

.color1{
    width: 15px;
    height: 15px;
    background-color: red;
    margin-left: 10px;
}

.color2{
    width: 15px;
    height: 15px;
    background-color: yellow;
    margin-left: 10px;
}



